Repository infn-datacloud/webapp-rgw: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-backend, build-frontend, upload-frontend

build-backend:
  stage: build
  image: docker:latest
  services:
  - docker:dind
  before_script:
  - docker login -u gitlab-ci-token -p ${CI_JOB_TOKEN} ${CI_REGISTRY}
  script:
  - docker build --pull -t $CI_REGISTRY_IMAGE/backend:$CI_COMMIT_REF_SLUG backend
  - docker push $CI_REGISTRY_IMAGE/backend:$CI_COMMIT_REF_SLUG

build-frontend:
  stage: build
  image: node:19-slim
  before_script:
  - cd frontend
  script:
  - npm ci
  - npm run build
  - npm run compress
  artifacts:
    paths:
    - frontend/${FE_PACKAGE_NAME}_*.tar.gz

upload-frontend:
  stage: upload
  needs:
  - build-frontend
  before_script:
  - VERSION=$(ls frontend/${FE_PACKAGE_NAME}_*.tar.gz | grep -Eo "[0-9]+(\.[0-9]+)+")
  - PACKAGE_FULL_NAME=${FE_PACKAGE_NAME}_v${VERSION}.tar.gz
  script:
  ...

Fix curl multiline syntax
  .gitlab-ci.yml
Due: build-backend, build-frontend, upload-frontend

Fix package name typo
  .gitlab-ci.yml
Due: build-backend, build-frontend, upload-frontend

Fix artifact name typo
  .gitlab-ci.yml
Due: build-backend, build-frontend, upload-frontend

WIP add semantic-release
  .gitlab-ci.yml
  .releaserc.yml
Due: build-backend, build-frontend, upload-frontend

Fix typo
  .gitlab-ci.yml
  .releaserc.yml
Due: build-backend, build-frontend, upload-frontend

Fix release image name
  .gitlab-ci.yml
Due: build-backend, build-frontend, upload-frontend

Fix release stage script
  .gitlab-ci.yml
Due: build-backend, build-frontend, upload-frontend

Fix missing semantic-version command
  .gitlab-ci.yml
Due: build-backend, build-frontend, upload-frontend

Fix release stage using npx instead of npm
  .gitlab-ci.yml
Due: build-backend, build-frontend, upload-frontend

fix(ci-cd) Missing git in node:19-slim image. Replace with node:19
  .gitlab-ci.yml
Due: build-backend, build-frontend, upload-frontend

feat(ci-cd): Add dev prerelease branch
  .releaserc.yml
Due: none

fix(ci-cd): pipeline not triggered with push on dev branch
  .gitlab-ci.yml
Due: build-backend, build-frontend, upload-frontend

feat(ci-cd): Auto increment package.json version
  .gitlab-ci.yml
  .releaserc.yml
Due: build-backend, build-frontend, upload-frontend

fix(ci-cd): Missing @semantic-release/git plugin
  .gitlab-ci.yml
Due: build-backend, build-frontend, upload-frontend

fix(ci-cd): upload stage executed before test and release stages
  .gitlab-ci.yml
Due: build-backend, build-frontend, upload-frontend

fix(ci-cd): version.txt not found
  .gitlab-ci.yml
Due: build-backend, build-frontend, upload-frontend

fix(ci-cd): packagename.txt not found and build artifact not uploaded
  .gitlab-ci.yml
Due: build-backend, build-frontend, upload-frontend

fix(ci-cd): add quotes to prevent word globbing
  .gitlab-ci.yml
Due: build-backend, build-frontend, upload-frontend

fix(ci-cd): fix VERSION parsing by jq
  .gitlab-ci.yml
Due: build-backend, build-frontend, upload-frontend

fix(ci-cd): jq syntax error
  .gitlab-ci.yml
Due: build-backend, build-frontend, upload-frontend

fix(ci-cd): try workaround for artifact path...
  .gitlab-ci.yml
Due: build-backend, build-frontend, upload-frontend

fix(ci-cd): workaround for gitlab not expanding variables in artifact paths
  .gitlab-ci.yml
Due: build-backend, build-frontend, upload-frontend

fix(ci-cd): package.json version not beeing updated
  .releaserc.yml
Due: none

fix(ci-cd): add dummy package
  testfile
Due: none

fix(ci-cd): remove test file
  testfile
Due: none

feat(ci-cd): Add frontend dockerfile image for nginx deployment
  docker-compose.yaml
  frontend/Dockerfile.dev
  frontend/Dockerfile.prod
  frontend/nginx.conf
  frontend/src/index.tsx
Due: build-frontend, upload-frontend

feat(ci-cd): Add automatic build for nginx/frontend image
  .gitlab-ci.yml
  README.md
Due: build-backend, build-frontend, upload-frontend

feat(ci-cd): Add default nginx conf to frontend image
  frontend/Dockerfile.prod
Due: build-frontend, upload-frontend

fix(ci-cd): crash frontend build images because missing dind service
  .gitlab-ci.yml
Due: build-backend, build-frontend, upload-frontend

fix(ci-cd): wrong tar extraction prefix
  .gitlab-ci.yml
Due: build-backend, build-frontend, upload-frontend

fix(ci-cd): wrong Dockerfile path
  .gitlab-ci.yml
Due: build-backend, build-frontend, upload-frontend

fix(docs): Add missing env vars
  backend/envs/example.env
Due: build-backend

feat(ci-cd): Add version to backend images
  .gitlab-ci.yml
Due: build-backend, build-frontend, upload-frontend

refactor(api): backend now expose /api/v1/ instead of /
  backend/src/main.py
  nginx/default.conf
Due: build-backend

feat(api): move / to /api/v1/
  backend/src/main.py
  nginx/default.conf
Due: build-backend

fix(ci-cd): sync image tags and add latest tag
  .gitlab-ci.yml
Due: build-backend, build-frontend, upload-frontend

fix(ci-cd): invalid reference format
  .gitlab-ci.yml
Due: build-backend, build-frontend, upload-frontend

fix(ci-cd): unterminated string
  .gitlab-ci.yml
Due: build-backend, build-frontend, upload-frontend

Path conditions:
  build-backend: any of: .gitlab-ci.yml, backend/**/*
  build-frontend: any of: .gitlab-ci.yml, frontend/**/*
  upload-frontend: any of: .gitlab-ci.yml, frontend/**/*
